* { box-sizing: border-box; }
body {
    margin: 0;
}

.col {
  border: thin solid black;
  width: 33.333333333%;
  float: right;
  overflow: hidden;
}

.playground {

  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.top-menu {
  border: thin solid black;
}
